/* Importamos la fuente desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Aplicamos box-sizing a todos los elementos para incluir padding y border en el tamaño total */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos generales para el cuerpo del documento */
body {
  font-family: 'Open-Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para los párrafos */
p {
  font-size: 1.6rem;
}

/* Estilo para los encabezados h1 */
h1 {
  font-size: 6rem;
}

/* Estilos para el contenedor principal de la aplicación */
.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.6); /* Fondo semitransparente */
  color: #fff; /* Color del texto */
}

/* Estilos para el fondo de la aplicación */
.app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/fondoappclima\ \(2\).jpg'); /* Imagen de fondo */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* La imagen está centrada */
  z-index: -1; /* La imagen está detrás del contenido */
}

/* Estilos para el contenedor de búsqueda */
.app .search {
  text-align: center;
  padding: 1rem;
}

/* Estilos para el campo de entrada de búsqueda */
.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.9);
  background: rgba(255,255,255,0.1);
  color: #fff;
}

/* Estilos para el texto del placeholder */
::placeholder {
  color: rgba(255,255,255,0.7);
}

/* Estilos para el contenedor principal */
.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilos para la parte superior del contenedor */
.app .top {
  width: 100%;
  margin: 1rem auto;
}

/* Estilos para la descripción del clima */
.app .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg); /* Rotamos el texto 270 grados */
}

/* Estilos para la parte inferior del contenedor */
.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.3); /* Fondo semitransparente */
}

/* Estilos para el texto en negrita */
.bold {
  font-weight: 700;
}

/* Media queries para hacer el diseño responsivo */
@media (max-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  .container {
    height: 600px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  .container {
    height: 500px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .container {
    height: 400px;
  }
  .app .description {
    right: -80%;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
  .container {
    height: 300px;
  }
  .app .description {
    right: -70%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  .container {
    height: 250px;
  }
  .app .description {
    right: -60%;
  }
}